
#input {
  margin-top: 300px;
  color: #A7A7A7;
  background-color: transparent;
  border: 0px;
  width: 100%;
  font-size: 10em;
}

textarea:focus, input:focus {
  outline: 0;
}

span.pivot {
  position: absolute;
  right:500px;
}
